<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amfbreview>
            <general>
                <title>Facebook Reviews</title>
                <perpage>10</perpage>
                <ascending>0</ascending>
            </general>
            <display>
                <width>632</width>
                <nostyles>0</nostyles>
                <css>amfbreview.css</css>
            </display>
        </amfbreview>
    </default>
</config>
